:root {
    --wkcolor-powder: #FDFFF7;
    --wkcolor-paper: #E2E8DD;
    --wkcolor-bone: #DDDBCB;
    --wkcolor-lace: #F5F1E3;
    --wkcolor-grey: #45424C;
    --wkcolor-jet: #333138;
    --wkcolor-black: #000103;
    --wkcolor-sage: #638475;
    --wkcolor-blue: #6D98BA;
}

@font-face {
    font-family: 'Cormorant_Garamond';
    src: url(/font/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: var(--wkcolor-powder);
}

section#wikiNav {
    height: 600px;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.large-header {
    font-size: 2.38rem;
}
.bigger-header {
    font-size: 2rem;
}
.big-header {
    font-size: 1.54rem;
}
.medium-header {
    font-size: 1.235rem;
}
.normal-text {
    font-size: 1.08rem;
}







#wiki-header {
    display: inline-block;
    padding: 0.5rem 0 0.5rem 1.5rem;
    background-color: var(--wkcolor-grey);
    width: 100%;
    border-top: var(--wkcolor-jet) solid 0.25rem;
    border-bottom: var(--wkcolor-jet) solid 0.16rem;
    z-index: 10;
}
#wiki-header > a {
    margin-right: 1rem;
    padding-right: 0.5rem;
    position: relative;
    opacity: 1.0;
}
#wiki-header > a:hover {
    opacity: 0.8;
}
#wiki-header-links {
    display: inline-flex;
}
#wiki-header-links > li {
    margin: 1rem 1.5rem;
    list-style-type: none;
    position:relative;
    width: fit-content;
    transition: 100ms opacity;
}
#wiki-header-links > li > a{
    text-decoration: none;
}
#wiki-header-links > li:hover {
    opacity: 0.8;
}
#wiki-header-links > li::after {
    content: "";
    bottom: -2px; left: 0;
    height: 2px; width: 0%;
    background: var(--wkcolor-powder);
    position: absolute;
    transition: 100ms width;
    opacity: 0.8;
}
#wiki-header-links > li:hover:after {
    width: 100%;
}

/*ENVIRONMENT*/
#wiki-environment {
    display: grid;
    grid-template-columns: 16vw 1fr;
    z-index: 20;
}
#navigation {
    background-color: var(--wkcolor-grey);
    padding: 0.5rem 0.25rem;
    font-size: 1.08rem;
    text-align: center;
    font-weight: 100;
    max-height: calc(100vh - 78px);
}
#content {
    background-color: var(--wkcolor-grey);
    box-shadow: inset 2px 2px 8px 8px var(--wkcolor-jet);
    overflow: auto;
    padding: 1rem 16rem 1rem 2rem;
    height: calc(100vh - 78px); 
    scrollbar-width: 3px;
}

#content h1  {
    font-size: 2.088rem;
    font-weight: bolder;
    text-decoration: underline;
}
#content p {
    font-size: 1.224rem;
}

.table-of-contents {
    padding: 1rem 1rem 1rem 2rem;
    margin: 1rem 1rem 1rem 0;
    border: var(--wkcolor-powder) 1px dotted;
    width: max-content;
    border-radius: 0.2cap;
}
.table-of-contents li {
    list-style-type:armenian;
}
.table-of-contents a {
    font-size: 1.064rem;
}
.table-of-contents h2 {
    font-size: 1.65rem;
}