
:root {
    --brown: #352208;
    --tan: #E1BB80;
    --sepia: #7B6B43;
    --oak: #685634;
    --toffee: #806443;
}

@keyframes simpleAnimation {
    from {
        background-color: white;
    }
    to {
        background-color: aquamarine;
    }
}

@keyframes lowerSquareAnimation {
    0% {}
    25% { top: calc(50% + 220px); height: 240px; width: 240px; }
    75% { top: calc(50% + 220px); height: 240px; width: 240px; }
    100% {

    }
}
@keyframes centerSquareAnimation {
    0% {}
    25% { height: 180px; width: 180px; }
    75% { height: 180px; width: 180px; }
    100% {}
}
@keyframes upperSquareAnimation {
    0% {}
    25% { top: calc(50% - 160px); height: 120px; width: 120px; }
    75% { top: calc(50% - 160px); height: 120px; width: 120px; }
    100% {}
}

#loading-square {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 200px; border-radius: 3cap;
    background-color: blue;
    animation-name: loadingAnimation;
    animation-duration: 2s;
}

.lower-square {
    transform-origin: center;
    transform: translate(-50%, -50%);
    position: fixed; left: 50%; top: 50%;
    width: 220px; height: 220px; border-radius: 2cap;
    background-color: blue;
    animation-name: lowerSquareAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.center-square {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 160px; height: 160px; border-radius: 2cap;
    background-color: blue;
    animation-name: centerSquareAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.upper-square {
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 100px; height: 100px; border-radius: 2cap;
    background-color: blue;
    animation-name: upperSquareAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#demo {
    padding: 4px;
    width: max-content;
}

.simpleAnimation {
    animation-name: simpleAnimation;
    animation-duration: 4s;
}
@keyframes squarePop {
    0% {
        height: 2px;
    }
    10% {
        height: 2px;
    }
    90% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

.loading-square { 
    width: 20px; height: 2px;
    background-color: orange;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    animation-name: squarePop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}